.control {
  display: grid;
  gap: 0.5rem;
  margin-block: 1rem;
}

.btn {
  background-color: black;
  color: #fff;
}

.btn.danger {
  background-color: rgb(250, 1, 101);
}
input,
textarea {
  font: inherit;
  padding: 0.6rem 1.2rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.blog-items {
  display: grid;
  gap: 1rem;
}
